.sideBar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  &>:first-child{
      button {
        max-width: 115px !important;
      }
  }
  &.hidden{
    display:none;
  }
  .toggleButton{
    display: none;
    @media(max-width: 720px){
      display: flex;
    }
  }
  padding: 1.5rem .75rem;

  .tab{
    width: 115px;
  }

  .self{
    cursor: pointer;
    display: grid;
    grid-template: 'avatar name' 24px 'avatar role' 24px / 56px;
    .avatar{
      grid-area: avatar;
      width: 48px;
      height: 48px;
      border-radius: 48px;
      background-color: #9EAEC7;
    }
    .role{
      display: flex;
      justify-content: left;
      grid-area: role;
      color: rgba(29, 29, 27, 0.3);
      font-size: 15px;
    }
    .name{
      display: flex;
      justify-content: left;
      grid-area: name;
      font-size: 17px;
      font-weight: bold;
    }
  }
  .sideContent{
    width: 100%;
    min-height: 20rem;
  }
}

.filterContainer{
  padding: 1rem;
}