@import '../../../assets/style/variables';

.showMenuButton{
  position: fixed;
  left: 8px;
  top: 8px;
  z-index: 10;
  display: none;
}

.mainContainer {
  background-color: $background-color;
  position: fixed;
  left: 400px;
  top: 0;
  height: 100vh;
  width: calc(100vw - 400px);
  &.withoutMenu{
    left: 0;
    width: 100vw;
  }
}