.outer{
    height: 100vh;
    margin: 2rem;
    h2{
        text-align: left;
        color: #1d1d1b;
        font-weight: bold;
        font-size: 21px;
    }
    .container{
        display: flex;
        background-color: white;
        width: 100%;
        flex-direction: column;
        & > div {
            width: auto;
            height: auto;
           margin: 50px;
        }
        .personal{
            display: grid;
            grid-template: 'left center right' / 2fr 2fr 4fr;
            padding-bottom: 32px;
            border-bottom: 1px solid rgba(#b5b5b6,0.2);
        }
        .left{
            display: flex;
            justify-content: flex-start;
            grid-template: left;
        }
        .center{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            grid-template: center;
            line-height: 24px;
            color: rgba(29, 29, 27, 0.3);
            p{
                text-align: left;
                padding:0;
                margin: 8px 0 0 0;
            }
        }
        .right{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding:0;
            margin:0;
            line-height: 24px;
            color: rgba(29, 29, 27, 0.3);
        }

    }
}

.textField{
    height: 32px;
}
.checkbox{
    height: 24px;
}